html {
    overflow-y: hidden;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: small;
    margin:1px;
    padding:0;
}

#time {
    color: lightgrey;
    font-weight: bolder;
}

.right {
    float: right;
}

#progBar {
    width: 30px;
    height: 10px;
}

#mpdartist, #mpdtitle {
    font-size: x-small;
}

#bat {
    border-bottom: solid 1px red;
}

.inline {
    display: inline-block;
}

.content {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 10px;
    overflow: visible;
    /* top: 0; */
    /* left: 0; */
    /* float: left; */
}

#mpdstat {
    font-size: x-small;
}

.content svg{
    display: inline-block;
    padding: 0;
    margin: 0;
}

#mpdalbum, #wifi {
    display: none;
}

#logalert {
    display: none;
    color: pink;
    font-size: x-small;
}

.line {
  fill: none;
  stroke: #00F;
  stroke-width: 2.5px;
}

#cpu {
    display: inline-block;
    width: 12px;
}
